Дисципліна: Обробка та аналіз БМД

Група БС-83

Павельчак Катерина

In [2]:
import pandas as pd

In [3]:
new_df=pd.DataFrame(
{
    "StNames":['Ivan','Petro','Vasil','Dmitro'],
     "PassingTheExam":[True,False,False,True],
     "Age":[18,19,17,18],
    "Mark":[87.4,99.2,75.2,61.2],
    "Group":['BS-81','BS-82','BS-83','BS-84'],
    "Working":[True,True,False,True]
})
new_df

  StNames  PassingTheExam  Age  Mark  Group  Working
0    Ivan            True   18  87.4  BS-81     True
1   Petro           False   19  99.2  BS-82     True
2   Vasil           False   17  75.2  BS-83    False
3  Dmitro            True   18  61.2  BS-84     True

1 Завантаження даних з CSV файлу

2.1. Завантаження даних з вказанням повного шляху до файлу

In [6]:
path = "C:/Users/User/colors.csv"
data = pd.read_csv(path,encoding='UTF-8')

print(type(data))

<class 'pandas.core.frame.DataFrame'>

2.2. Завантаження файлу, що розміщений в робочій дерикторії

In [7]:
import os
print ("The directory we are working in is: {}".format(os.getcwd()))

The directory we are working in is: C:\Users\User

In [8]:
data = pd.read_csv('C:/Users/User/bmd/laba1/colors.csv')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

Відображення завантажених даних

In [9]:
data

       id                          name     rgb is_trans
0      -1                       Unknown  0033B2        f
1       0                         Black  05131D        f
2       1                          Blue  0055BF        f
3       2                         Green  237841        f
4       3                Dark Turquoise  008F9B        f
..    ...                           ...     ...      ...
130  1004  Trans Flame Yellowish Orange  FCB76D        t
131  1005             Trans Fire Yellow  FBE890        t
132  1006        Trans Light Royal Blue  B4D4F7        t
133  1007                 Reddish Lilac  8E5597        f
134  9999                    [No Color]  05131D        f

[135 rows x 4 columns]

Базова статистика про завантажені дані

In [10]:
data.shape

(135, 4)

Використання функцій head і tail - функцій для попереднього перегляду завантажених даних

In [17]:
data.head(5)
#Відображення перших 5 рядків

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [18]:
data.tail(5)
#Відображення останніх 5 рядків

       id                          name     rgb is_trans
130  1004  Trans Flame Yellowish Orange  FCB76D        t
131  1005             Trans Fire Yellow  FBE890        t
132  1006        Trans Light Royal Blue  B4D4F7        t
133  1007                 Reddish Lilac  8E5597        f
134  9999                    [No Color]  05131D        f

Використання функції dtypes - для визначення типу даних в рядках

In [19]:
data.dtypes

id           int64
name        object
rgb         object
is_trans    object
dtype: object

Використання функції 'describe' для опису різних типів даних

In [20]:
data.describe()

                id
count   135.000000
mean    253.037037
std     878.441466
min      -1.000000
25%      34.500000
50%      85.000000
75%     231.000000
max    9999.000000

In [22]:
data['rgb'].describe()

count        135
unique       124
top       000000
freq           3
Name: rgb, dtype: object

In [23]:
data['name'].describe()

count                      135
unique                     135
top       Speckle Black-Copper
freq                         1
Name: name, dtype: object

Створюємо новий масив даних, що містить лише перші 10 рядків з завантаженого масиву

In [24]:
cut_data = data.iloc[0:10, :]
cut_data

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f
5   4             Red  C91A09        f
6   5       Dark Pink  C870A0        f
7   6           Brown  583927        f
8   7      Light Gray  9BA19D        f
9   8       Dark Gray  6D6E5C        f

Додаємо новий стовпчик, та заповнюємо його даними, що відносять кожен з рядків до однієї з двох груп

In [25]:
new_data=["gr1","gr1","gr1","gr1","gr1","gr2","gr2","gr2","gr2","gr2"]
cut_data.insert(1,"Group", new_data)
cut_data

   id Group            name     rgb is_trans
0  -1   gr1         Unknown  0033B2        f
1   0   gr1           Black  05131D        f
2   1   gr1            Blue  0055BF        f
3   2   gr1           Green  237841        f
4   3   gr1  Dark Turquoise  008F9B        f
5   4   gr2             Red  C91A09        f
6   5   gr2       Dark Pink  C870A0        f
7   6   gr2           Brown  583927        f
8   7   gr2      Light Gray  9BA19D        f
9   8   gr2       Dark Gray  6D6E5C        f

Виведення статистики з розділенням на групи

In [26]:
cut_data.groupby('Group').describe()

         id
      count mean       std  min  25%  50%  75%  max
Group
gr1     5.0  1.0  1.581139 -1.0  0.0  1.0  2.0  3.0
gr2     5.0  6.0  1.581139  4.0  5.0  6.0  7.0  8.0

Зберігаємо два файли даних

11.1. Файл з обрізаним масивом даних, та з новою змінною

In [27]:
cut_data.to_csv("output.csv", encoding='utf8')

11.2.Файл з повною статистикою по початковому масиву даних

In [28]:
data.to_csv("input.csv", encoding='utf8')